!!!
%html
  %head
    %link{:href => "https://fonts.googleapis.com/css?family=Roboto", :rel => "stylesheet", :type => "text/css"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Pinspiration
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      %h1 Pinsparation
      %nav
        %ul
          %li= link_to 'Create new pin', new_pin_path
          %li= link_to 'Create new board', new_board_path
          %li= link_to 'See all pins', pins_path
          %li= link_to 'See all boards', boards_path
    = yield
